<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.TaskManagement">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.example.TaskManagement.activity.JobDetailActivity">
        </activity>
        <activity android:name="com.example.TaskManagement.activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.TaskManagement.activity.PassCheckActivity">
        </activity>
        <activity android:name="com.example.TaskManagement.activity.TaskSearchActivity">
        </activity>
        <activity android:name="com.example.TaskManagement.activity.JobCreateActivity">
        </activity>
        <activity android:name="com.example.TaskManagement.activity.TaskDetailActivity">
        </activity>
        <activity android:name="com.example.TaskManagement.activity.TaskCreateActivity">
        </activity>
        <activity android:name="com.example.TaskManagement.activity.LoginActivity">
        </activity>
        <activity android:name="com.example.TaskManagement.activity.SettingActivity">
        </activity>
        <activity android:name="com.example.TaskManagement.activity.TaskMainActivity">
        </activity>
        <activity
                android:name="com.example.TaskManagement.activity.LoginActivity"
                tools:ignore="DuplicateActivity"/>
    </application>

</manifest>